<% layout('layouts/boilerplate') %>

<div class="info">
    <div>
        <img id="toilet_image" src="<%=toilet.image%>" alt="" />
    </div>

    <div>
        <h2><%= toilet.name %></h2>
        <% if (toilet.PTrapSetout){ %>
        <div class="specs">
            <h3>Toilet Setout</h3>
            <p>P Trap Set Out: <%=toilet.PTrapSetout%>mm</p>
            <%}%> <% if (toilet.STrapMin) { %>
            <p>S Trap Max Setout: <%= toilet.STrapMax %>mm</p>
            <p>S Trap Min Setout: <%= toilet.STrapMin %>mm</p>
            <% } else { %>
            <p>S Trap Set Out: <%= toilet.STrapSetout %>mm</p>
            <%}%> <% if (toilet.inletType === 'backInlet') { %>
            <p>Water Point Inlet Height <%= toilet.waterPointHeight %>mm</p>
            <p>Water Point Offset <%= toilet.waterPointOffset %>mm</p>
            <% } else { %>
            <p>Bottom Inlet</p>
            <%}%>
            <div class="info-links">
                <h3>Product Info</h3>
                <p>See product's webpage <a href="<%= toilet.url%>">here</a></p>
                <p>See Spec Sheet <a href="<%= toilet.spec %> ">here</a></p>
                <p>Product Code <%= toilet.code %></p>
            </div>
        </div>
    </div>
</div>
