<% layout('layouts/boilerplate') %>

<div class="toilet">
    <div>
        <img
            class="toilet__image"
            id="toilet_image"
            src="<%=toilet.image%>"
            alt=""
        />
    </div>

    <div class="toilet__info">
        <h2 class="toilet__info-title"><%= toilet.name %></h2>
        <% if (toilet.PTrapSetout){ %>
        <div class="toilet__specs">
            <h3 class="toilet__specs-title">Toilet Setout:</h3>
            <p>P Trap Set Out: <%=toilet.PTrapSetout%>mm</p>
            <%}%> <% if (toilet.STrapMin) { %>
            <p>S Trap Max Setout: <%= toilet.STrapMax %>mm</p>
            <p>S Trap Min Setout: <%= toilet.STrapMin %>mm</p>
            <% } else { %>
            <p>S Trap Set Out: <%= toilet.STrapSetout %>mm</p>
            <%}%> <% if (toilet.inletType === 'backInlet') { %>
            <p>Water Point Inlet Height <%= toilet.waterPointHeight %>mm</p>
            <p>Water Point Offset <%= toilet.waterPointOffset %>mm</p>
            <% } else { %>
            <p>Bottom Inlet</p>
            <%}%>
            <div class="info-links">
                <h3 class="toilet__specs-title">Product Info</h3>
                <p>Product Code <%= toilet.code %></p>
                <p>
                    See product's webpage
                    <a class="info-link" href="<%= toilet.url%>">here</a>
                </p>
                <p>
                    See Spec Sheet
                    <a class="info-link" href="<%= toilet.spec %> ">here</a>
                </p>
            </div>
        </div>
    </div>
</div>
